.taskbox{
    display: flex;
    align-items: center;
    gap:10px;
}

.fa-folder {
    margin-right: 5px;
}

.cat {
    background-color: white;
    color:black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 120px;
}

.dropdown_content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown_content ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown_content ul li a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown_content {
    display: block;
}
img{
    width:200px;
    height:200px;
}

.box1{
    width: 300px;
    height:100vh;
    padding-left: 30px;
}
#icons{
    padding-top: 50px;
}
#logout{
    padding-top: 250px;
}
.page1{
    display:flex;

}
.buttonbox{
    display: flex;
    align-items: center;
    gap:500px;
}
.button1{
    width:100px;
    height:20px;
}
.all{
    gap:30px;
    display: flex;
}
.box2{
    background-color: rgb(202, 201, 201);
    width:1300px;
    margin: 0;
    padding: 0%;
    padding-left: 50px;
    padding-top: 50px;
}
h1{
    text-align: center;
}
.task{
    font-size:30px;
}
#additembtn{
    width:1000px;
    height:50px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 30px;
}
/* .items{
    width:1000px;
    height:50px;
    background-color: rgb(250, 248, 248);
    border-radius: 10px;
    font-size: 20px;
} */
#dialog{
    width:400px;
    height:200px;
    background-color: white;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:30px;
    padding-left: 70px;
    padding-top: 40px;
    margin-top: 30px;
}
#itemName{
    width: 300px;
    height:30px;
    border-radius: 10px;
    margin-top: 10px;
}
#itemCategory{
    width: 300px;
    height:30px;
    border-radius: 10px;
    margin-top: 10px;
}  
#submitBtn{
    width:150px;
    height:30px;
    background-color: rgb(247, 242, 242);
    border:none;
    color:green;
    font-size:20px ;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    border:1px solid green;
}
.insert{
    font-size: 20px;
    margin-top: 10px;
}
#cancelBtn{
    width:150px;
    height:30px;
    background-color:rgb(247, 242, 242);
    border:none;
    color:purple;
    font-size:20px ;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    border:1px solid purple;
}
.button2{
    width:1000px;
    height:50px;
    border-radius: 10px;
    font-size: 20px;
}
/* sign up */
.signup{
    width: 400px;
}
.whole-container-signup{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgb(248, 52, 246) 0.6%, rgb(152, 38, 252) 90%) !important;
}
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100;200;300;400;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*{
    margin: 0px;
    padding: 0px;
}
.whole-container{
    height: 100vh;
}
.form{
    display: flex;
    flex-direction: column;
}
.center{
    text-align: center;
}
.name{
    font-size: 20px;
    margin-top: 30px;
}
.card-signup{
    width:500px;
    height:600px;
    border-radius: 20px;
    padding-left: 40px;
}
#name{
    width:400px;
    height:40px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    padding-left: 15px;

}
#email{
    width:400px;
    height:40px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    padding-left: 15px;
} 
#password{
    width:400px;
    height:40px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-size: 15px;
    padding-left: 15px;

} 
.submit-btn{
    width:100px;
    height:30px;
    background-color: blueviolet;
    color:white;
    font-size: 15px;
    border-radius: 10px;
    border:none;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height:70px;
    background-color: white;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

  }
  
  .icon-container {
    display: flex;
    gap: 10px; 
  }

  .checkbox{
    width:30px;
    height:30px;
    border-radius: 100%;
  }